* { margin: 0; padding: 0; }

body {
    background: #eee; padding: 5%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#corpo {
    background: #fff;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

.menu_topo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    color: rgb(138,10,70);
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(138,10,70);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(138, 10, 70);
    color: white;
}


header {
    background-color: rgb(138,10,70);
    padding: 2%;
    border-bottom: 1px solid #040e642a;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
    text-transform: uppercase;
}

main {
    padding: 2%;
}
.texto_sobre {
    padding: 10px;
    margin: 100px;
    margin-top: 10px;
    border: 1px;
}

footer {
    background: rgb(138,10,70);
    text-align: center;
    padding: 2%;
    border-top: 1px solid #999;
    color: #fff;
}

h1 {
    color: #fff;
}

h2 {
    text-align: center;
    color: rgb(138,10,70);
}
h3 {
    text-align: center;
    color: rgb(138,10,70);
}

p {
    text-align: center;
    font-size: small;
    padding-top: 1%;
    padding-bottom: 1%;
}
figcaption {
    text-align: center;
    align-items: center;
}

.sobre-nos {
    align-items: center;
}

